# Install the apt prerequisites
addons:
  apt:
    packages:
      - python-pygments
# Clean and don't fail
install:
  - rm -rf public || exit 0
  - export HUGO_VERSION=v0.32.1
  - wget https://github.com/spf13/hugo/releases/download/v$HUGO_VERSION/hugo_${HUGO_VERSION}_Linux-64bit.tar.gz
  - tar xzf hugo_${HUGO_VERSION}_Linux-64bit.tar.gz
  - chmod a+x hugo
# Build the website
script:
  - ./hugo
# Deploy to GitHub pages
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: public
  on:
    branch: master
